{
    {$CADDY_TLS_MODE}
    auto_https disable_redirects
    servers {
      metrics
    }
}

:9000 {
  metrics /metrics
}
  
  :8000 {
    {$CADDY_TLS_CERT}
    log

    # Handle main app route
    @app_match {
        path /apps/frontend-assets*
    }
    handle @app_match {
        uri strip_prefix /apps/frontend-assets
        file_server * {
            root /opt/app-root/src/dist
            browse
        }
    }

    handle / {
        redir /apps/chrome/index.html permanent
    }
  } 
    
